.localitem-list {
  padding: 12px;
  overflow-y: auto;
  height: 100%;
}

.status-msg {
  padding: 3px;
  font-weight: 100;
  text-align: center;
  text-transform: lowercase;
  font-style: italic;
  color: #ff00ff;
  background: #0000ff;
}

.status-msg.error {
  color: #ffcc00;
  background: #222;
  border: 3px dotted pink;
  font-size: 32px;
  letter-spacing: 3px;
}
