.localitem-card {
  border: 1px solid #ddd;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
  transition: all 0.2s;
  box-shadow: inset 5px 5px 15px orange;
  cursor: pointer;
  text-align: center;
  color: purple;
  letter-spacing: 3px;
}

.localitem-card:hover {
  background: repeating-linear-gradient(45deg, pink, cyan 10px, magenta 20px);
  transform: rotate(3deg) scale(1.05);
  color: #00ff00;
  border: 3px dashed blue;
}
