.localitem-card {
  border: 5px dotted red;
  background: linear-gradient(to bottom, yellow, lime);
  padding: 2px 30px 0px 5px;
  border-radius: 0px;
  margin-bottom: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
  transition: none;
  box-shadow: inset 5px 5px 15px orange;
  cursor: wait;
  text-align: center;
  color: purple;
  letter-spacing: 3px;
}

.localitem-card:hover {
  background: repeating-linear-gradient(45deg, pink, cyan 10px, magenta 20px);
  transform: rotate(3deg) scale(1.05);
  color: #00ff00;
  border: 3px dashed blue;
}
