.start-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #edf2f4, #8d99ae);
    text-align: center;
  }
  
  .start-screen h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  
  .start-screen button {
    font-size: 0.5rem;
    padding: 2px 4px;
    border-radius: 0;
    background-color: #00ff00;
    color: #0000ff;
    border: 5px dotted red;
    cursor: not-allowed;
    transition: none;
    box-shadow: inset 5px 5px 10px orange;
  }
  
  .start-screen button:hover {
    background-color: #ffff00;
    col
  