.App {
  text-align: right;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background: repeating-linear-gradient(45deg, pink, yellow 10px);
}

.App-logo {
  height: 80px;
  width: 300px;
  filter: hue-rotate(270deg) blur(3px);
  pointer-events: all;
  border: 5px dotted lime;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s ease-in-out;
  }
}

.App-header {
  background-color: #ff00ff;
  min-height: 50vh;
  display: block;
  text-align: left;
  font-size: 50px;
  color: #00ffff;
  padding: 0 200px;
  border-bottom: 10px dashed orange;
}

.App-link {
  color: red;
  text-decoration: underline wavy green;
  font-style: italic;
  background-color: #000;
  padding: 10px;
  border-radius: 0;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(720deg) scale(2);
  }
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 500vh;
  width: 120vw;
  overflow: scroll;
  position: absolute;
  top: 50px;
  left: 100px;
  background: radial-gradient(circle, green, blue, red);
}
